{# 
 #   Copyright 2016 Maksim Babenko <mb.babenoff@yandex.ru>
 #   Created by Babenoff at 02.09.16 - 23:54  
 #}

<ul class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="">{{hero.title}}</a>
    </li>
    <li class="breadcrumb-item">
        <a href="">инвентарь</a>
    </li>
    <li class="breadcrumb-item">
        <a class="glyphicon glyphicon-log-out" href="{{ path('game_logout') }}">выход</a>
    </li>
</ul>